body
{
    width: 98%;
    height: 100%;
}

.cari
{
    padding-left: 85px;
}

.cari button
{
    padding: 2px 15px;
    border-radius: 5px;
    border: 1px solid #000;
}

a
{
    text-decoration: none;
}

.tombol
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.tombol button
{
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #000;
}

.tombol button a
{
    text-decoration: none;
    color: #000;
}

button:hover
{
    /*waktu kursor diatas tombol, tombol berubah warna hijau,
    kalo mau ganti warna cari kodenya di internet*/
    background-color: #afaf;
    cursor: pointer;
    color: #fff;
}

